<br>
<label>Filter City: </label>
<input [(ngModel)]='city'>
<button type="button" (click)="onCityFilter()">Search</button>
<button type="button" (click)="onCityFilterClear()">Clear</button>

<label>Sort by &nbsp;</label>
<select [(ngModel)]='sortByParam'>
    <option value="city">City</option>
    <option value="price">Price</option>
</select>
<button type="button" (click)="onSortDirection()">
    <i *ngIf="sortDirection==='asc'" class="fa fa-sort-asc" aria-hidden="true"></i>
    <i *ngIf="sortDirection==='desc'" class="fa fa-sort-desc" aria-hidden="true"></i>
</button>
<div class="row">
    <div *ngFor="let propertyObj of properties | filter:searchCity:'city'|sort:[sortByParam,sortDirection]"
        class="col-sm-3 p-4">
        <app-property-card [property]="propertyObj"></app-property-card>
    </div>
</div>