.error-block {
    color: red;
}

.btn-group > label[ng-reflect-btn-radio]{
    border-radius: 44px;
    line-height: 30px;
    padding: 0 15px;
}

.card-header > h1,.card-header > h2,.card-header > h3{
    color: white;
}

.card-header{
    height: 42px;
    padding: 4px 10p !important;
    background-color: #007bff !important;
    color: white;
}

.card-title{
    color: #0069d9;
}