<div class="row shadow">
    <div class="col-sm-4 p-0">
        <div class="card">
            <div class="card-img-wrapper">
                <img class="card-img-top" src="assets/Images/Jashn.jpg">
            </div>
            <div class="card-body">
                <h3 class="card-title">{{property.name}}</h3>
                <div>
                    <strong>{{property.bhk}}BHK {{property.propType}} furnished @ ${{property.price}}</strong>
                </div>
                <div>
                    <strong>in {{property.city}}</strong>
                </div>
                <hr>
                <div>
                    <strong>Built Area: </strong> {{property.builtArea}} sqft
                </div>
                <div>
                    <strong>Carpet Area: </strong> {{property.carpetArea}} sqft
                </div>
                <div>
                    <strong>Furnish Type: </strong> {{property.fType}}
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8 p-0">
        <div class="tab-panel shadow">
            <tabset class="member-tabset">
                <tab heading="Overview">
                    <h1>Overview</h1>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="heading">
                                <strong>Name</strong>
                                <p>{{property.name}}</p>
                            </div>

                            <div class="heading">
                                <strong>Floor Number</strong>
                                <p>{{property.floor}} of {{property.totalFloor}}</p>
                            </div>

                            <div class="heading">
                                <strong>Age of Property</strong>
                                <p>{{property.age}} year</p>
                            </div>

                            <div class="heading">
                                <strong>Posession</strong>
                                <p>{{property.date | date}}</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="heading">
                                <strong>Main Entrance</strong>
                                <p *ngIf="property.entrance=='1'">East</p>
                                <p *ngIf="property.entrance=='2'">West</p>
                                <p *ngIf="property.entrance=='3'">North</p>
                                <p *ngIf="property.entrance=='4'">South</p>
                            </div>

                            <div class="heading">
                                <strong>Gated Community</strong>
                                <p *ngIf="property.gated">Yes</p>
                                <p *ngIf="!property.gated">No</p>
                            </div>

                            <div class="heading">
                                <strong>Security Deposit</strong>
                                <p>{{property.security}}</p>
                            </div>
                            <div class="heading">
                                <strong>Maintenance</strong>
                                <p>{{property.maintenance}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="heading">
                            <strong>About Property</strong>
                            <p>{{property.desc}}</p>
                        </div>
                    </div>
                </tab>
                <tab heading="Address">
                    <div class="col-sm-12">
                        <h1>Address</h1>
                        <div class="heading">
                            <strong>{{property.addr}}</strong><br/>
                            <strong>{{property.city}}</strong>
                        </div>
                    </div>
                </tab>
                <tab heading="Photos">
                    Photos
                </tab>
                <tab heading="Contact">
                    Contact Detail
                </tab>
            </tabset>
        </div>
    </div>
</div>